// Version mobile
.about {
  .about_img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .about_text {
    width: 95%;
    margin: auto;
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
    .about_text_subtitle {
      text-align: right;
    }
    .about_text--bold {
      font-weight: bold;
    }
    .about_text--color-bold {
      font-weight: bold;
      color: #e85a4f;
    }
    .about_text--italic {
      font-style: italic;
    }
  }
}
// Versions tablettes et web
@media only screen and (min-width: 768px) {
  .about {
    .about_img {
      position: absolute;
      top: 0;
      z-index: -1;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .about_text {
      position: absolute;
      bottom: 0;
      right: 25px;
      width: 85%;
      margin-top: 0;
      padding: 20px 10px 3vh 5px;
      background-color: rgba(234, 231, 220, 0.78);
      line-height: 25px;
    }
  }
}
@media only screen and (min-width: 992px) {
  .about {
    .about_text {
      right: 55px;
      width: 60%;
      padding: 15px 15px 3vh 5px;
      line-height: 23px;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .about {
    .about_text {
      width: 58%;
      padding: 20px 20px 6.5vh 20px;
      line-height: 30px;
    }
  }
}
