.home {
  background-image: url("./static/img-pages/home-bg.jpg");
  background-size: cover;
  background-position: 50% 58%;
  width: 100%;
  height: 100vh;
  padding-top: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .home_logo {
    display: block;
    width: 40vh;
    height: 40vh;
    margin: auto;
    margin-top: 3.5vh;
  }
  h1 {
    margin: 50px 0;
    text-align: center;
    text-shadow: .5px 4px 5px rgb(29, 26, 26, 0.95);
  }
  .home_btn {
    display: block;
    margin: 20px auto;
    width: 240px;
    height: 60px;
    background-color: #e85a4f;
    border: none;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1200px) {
  main {
    .home {
      .home_logo {
        height: auto;
        margin-top: 18vh;
      }
      .home_btn {
        width: 200px;
        height: 50px;
        line-height: 45px;
        font-size: 18px;
      }
      h1 {
        font-size: 55px;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  main {
    .home {
      .home_logo {
        height: auto;
        margin-top: 25vh;
      }
      h1 {
        font-size: 50px;
      }
      .home_btn {
        width: 200px;
        height: 50px;
        line-height: 50px;
        font-size: 17px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  main {
    .home {
      .home_logo {
        height: auto;
        width: 32vh;
        height: 32vh;
        margin-top: 25.5vh;
      }
      h1 {
        font-size: 38px;
        padding: 0 10px;
        letter-spacing: 1px;
      }
      .home_btn {
        width: 160px;
        height: 40px;
        line-height: 40px;
        letter-spacing: 0.5px;
        font-size: 15px;
      }
    }
  }
}
@media only screen and (max-height: 414px) {
    main {
    .home {
      .home_logo {
        height: auto;
        width: 20vw;
        height: 20vw;
        margin-top: 17vh;
      }
      h1 {
        font-size: 30px;
        margin-top: 4vh;
        margin-bottom: 2vh;
      }
    }
  }
}
