   *:focus {
    outline: none;
}
 body {
  margin: 0;
  //overflow: scroll;
}

.lieu{
 
    .lieu_img{
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        top: 0;
        position:relative;
      
      }
  h2 {
    text-align: center;
    text-transform: capitalize;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

.slider-container {
  max-width: 100vw;
  color: white;
  position: relative;
}
.slider-item {
  height: 100vh;
  background-size: cover;
}
.controls {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 254, 254, 0.5);      
}

.controls li:hover {
  cursor: pointer;
}

  .lieu_text_mobile {
    width: 100%;
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
    padding: 10px;
    background-color: rgba(224, 223, 217, 0.6);
    margin: auto;
    
    //overflow: auto;
    //margin-top: 100vh;
    .lieu_text_subtitle {
      text-align: center;
    }
    .galerie {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 20px;
      .image {
        height: 150px;
        width: 150px;
        padding: 5px;
      }
    }
    
    .button {
      width: 240px;
      height: 60px;
      background-color: #e85a4f;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 600;
      color: white;
      margin: 20px;
      margin-left: 15%;
    }
  }
  .lieu_text {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  body {
    // overflow: hidden;
    width: 100%;
    //overflow: scroll;
  }
  .lieu {
 
    .lieu_text {
      display: block;
      text-align: justify;
      margin-top: 25%;
      width: 85%;
      background-color: transparent;
      font-size: 18px;
      padding-top: 30%;

      .lieu_text_partie2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        .img {
          width: 250px;
          height: 250px;
          margin-left: 10%;
        }
        .lieu_text_partie2_text {
          margin-right: 40%;
        }
      }
    }
  }
  .lieu_text_mobile {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    // overflow: hidden;
    width: 100%;
    // overflow: scroll;
  }
  .lieu {
   
    .lieu_text {
      display: block;
      text-align: justify;
      margin-top: 17%;
      width: 85%;
      background-color: transparent;
      font-size: 18px;
      margin-top: 5%;
      padding: 20px;

      .lieu_text_partie2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        .lieu_text_partie2_img {
          .img {
            width: 250px;
            height: 250px;
            padding: 10px;
          }
        }
        .lieu_text_partie2_text {
          margin-left: 120%;
          margin-top: -70%;
          width: 50vh;
        }
      }
    }
  }
  .lieu_text_mobile {
    display: none;
  }
}
