body {
  margin: 0;
  overflow: scroll;
}

.lieu {
  h2 {
    text-align: center;
    text-transform: capitalize;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .lieu_img {
    width: 100%;
    top: 0;
    z-index: -1;
    height: 100vh;
    margin-left: -50%;
    position: fixed;
    .img {
      width: 100%;
      object-fit: cover;
      height: 100vh;
      position: absolute;
    }
  }
  .lieu_text_mobile {
    width: 100%;
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
    padding: 10px;
    background-color: rgba(224, 223, 217, 0.6);
    margin: auto;
    overflow: auto;
    margin-top: 100%;
    .lieu_text_subtitle {
      text-align: center;
    }
    .galerie {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 20px;
      .image {
        height: 150px;
        width: 150px;
      }
    }
    .button {
      width: 240px;
      height: 60px;
      background-color: #e85a4f;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 600;
      color: white;
      margin: 20px;
      margin-left: 15%;
    }
  }
  .lieu_text {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  body {
    overflow: hidden;
    width: 100%;
    overflow: scroll;
  }
  .lieu {
    .lieu_img {
      position: static;
      height: 100vh;
      margin-top: -7%;
      position: relative;

      img {
        height: 100vh;
        object-fit: cover;
        position: relative;
      }
    }
    .lieu_text {
      display: block;
      text-align: justify;
      margin-top: 25%;
      width: 85%;
      background-color: transparent;
      font-size: 18px;
      padding-top: 30%;

      .lieu_text_partie2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        .img {
          width: 250px;
          height: 250px;
          margin-left: 10%;
        }
        .lieu_text_partie2_text {
          margin-right: 40%;
        }
      }
    }
  }
  .lieu_text_mobile {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    overflow: hidden;
    width: 100%;
    overflow: scroll;
  }
  .lieu {
    .lieu_img {
      height: 100vh;
      margin-top: -7%;

      img {
        height: 100vh;
        object-fit: cover;
      }
    }
    .lieu_text {
      display: block;
      text-align: justify;
      margin-top: 17%;
      width: 85%;
      background-color: transparent;
      font-size: 18px;
      margin-top: 5%;
      padding: 20px;

      .lieu_text_partie2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        .lieu_text_partie2_img {
          .img {
            width: 250px;
            height: 250px;
            padding: 10px;
          }
        }
        .lieu_text_partie2_text {
          margin-left: 120%;
          margin-top: -70%;
          width: 50vh;
        }
      }
    }
  }
  .lieu_text_mobile {
    display: none;
  }
}
